.main-app {
   height: 17rem;
    border: 1px ridge #464141;
    padding: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #464141;
   }

.list_user{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem;
    width: 100%;
}
    
   .container {
    border-bottom: #fff 2px ridge;
   }
    
   .pagination {
    margin-top: 45px;
    margin-left: -40px;
    display: flex;
    list-style: none;
    outline: none;
   }
    
   .pagination>.active>a {
    background-color: #47ccde;
    color: #fff;
   }
    
   .pagination>li>a {
    border: 1px solid #47ccde;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
   }
    
   .pagination>li>a, .pagination>li>span {
    color: #47ccde;
    background-color: azure;
   }